.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--font-color);
  overflow-x: hidden;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 10, 0);
  width: 100%;
}

@keyframes slideUp {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
