.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--font-color);
  overflow-x: hidden;
}

.top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.address {
  min-width: 30em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address > p {
  font-size: 1em;
  margin: 1em 0em;
}
.container > h1 {
  border-bottom: 1px solid goldenrod;
}
.address > div > svg {
  width: 4em;
  height: 4em;
}
.address > div > svg:hover {
  border-bottom: 5px solid goldenrod;
  cursor: pointer;
}
.address > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100%;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 10, 0);
  width: 100%;
}
.logos > svg {
  height: 4em;
  width: 4em;
  margin: 0em 2em;
  padding-bottom: 1em;
  transition: all 0.2s;
}
.logos > svg:hover {
  border-bottom: 5px solid goldenrod;
  cursor: pointer;
}
@keyframes slideUp {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
