.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  min-width: 30em;
}
.logos > p {
  width: 70%;
}
.logos > h1 {
  border-bottom: 1px solid goldenrod;
}

.logos > div > svg {
  height: 4em;
  width: 4em;
  margin: 0em 2em;
  padding-bottom: 1em;
  transition: all 0.2s;
}
.logos > div > svg:hover {
  border-bottom: 5px solid goldenrod;
  cursor: pointer;
}
.logos > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100%;
}
