.container {
  min-height: 100vh;
  max-width: 1200px;
  padding: 0 0.5rem;
  color: var(--font-color);
  width: 100vw;
}

.moveUp {
  animation: slideUp 1s forwards ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}
